@media screen and (min-width: 300px) {
    input{
        height: 30px;
        margin-bottom: 10px;
    }
    
    form{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .selectBox{
    width: 30%;
    }
}

@media screen and (min-width: 600px) {
    input{
        height: 30px;
        margin-bottom: 10px;
    }
    
    form{
        margin-left: 100px;
        margin-right: 100px;
    }
    
    .selectBox{
    width: 30%;
    }
}